.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
}

.component {
  border: 1px solid black;
}

.component img {
  width: 100%;
}
